.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom right, #2cd100, #000000);
}

.login-container, .register-container {
    width: 500px;
    margin: 25px auto 0 auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    box-shadow: 10px 10px 10px #ccc;
    padding: 25px;
    background-color: black;
}

.auth-form input {
    background-color: white; 
    color: black; 
    border: 1px solid #ccc;
    padding: 5px;
    width: 400px;
    margin: 5px 0;
}

.auth-form-label {
    width: 410px;
    font-weight: 500;
    color: #2cd100; 
}

.register-container {
    min-height: 600px; 
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
}

.auth-form button {
    cursor: pointer;
    background-color: #2cd100; /* Twitch Purple */
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 410px;
    height: 30px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s;
    line-height: 10px;
}

.auth-form button:hover {
    opacity: 0.8;
}

.auth-form button:disabled {
    opacity: 1;
}

.auth-form-logo-container {
    font-size: 26px;
    font-weight: bold;
}

.auth-form-switch-label {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    padding-top: 10px;
}

.auth-form-switch-label:hover {
    opacity: 0.9;
}

.auth-form-validation-message {
    width: 400px;
    color: red;
    justify-content: space-evenly;
}

.input-error {
    border: 1px solid red;
}

.auth-form-validation-message {
    display: block;          
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 400px;
    text-align: left;
  }
  
.auth-form input {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 5px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 0px; 
  }
  


  